@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Bodony-72';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/bodony-72.woff2) format('woff2');
  }
  @font-face {
    font-family: 'HelveticaNeue-Light';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/HelveticaNeue-Light.woff2) format('woff2');
  }
}